@use '../../partials/variables' as *;

.techStack {
    background-color: $Egg;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__headerContainer {
        width: 100%;
        display: flex;
    }
    &__headerLeftBack {
        width: 1rem;
        background-color: $Egg;
    }
    &__headerLeftFront {
        width: 100%;
        height: 100%;
        background-color: $Teal;
        border-bottom-right-radius: 10px;
    }
    &__headerRightBack {
        width: 1rem;
        flex-grow: 1;
        background-color: $Egg;
    }
    &__headerRightFront {
        width: 100%;
        height: 100%;
        background-color: $Teal;
        border-bottom-left-radius: 10px;
    }
    &__headerMain {
        background-color: $Teal;
        height: 100%;
        width: 20.5rem;
    }
    &__header {
        margin: 0;
        padding: 1rem;
        color: $Teal;
        width: 100%;
        height: 100%;
        flex-grow: 1;
        background-color: $Egg;
        font-size: 1.7rem;
        border-top-right-radius: 10px;
    }
    &__list {
        display: flex;
        margin: 0;
        padding: 3rem 1rem;
        list-style: none;
        width: 17rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        height: 5rem;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        color: Black;
        font-size: 1.1rem;
        font-weight: 700;
    }
    &__iconLarge {
        height: 2rem;
    }
    &__icon {
        height: 4rem;
    }
}