@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.contact {
    width: 100%;
    &__headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $Egg;
    }
    &__headerTabContainer {
        display: flex;
        width: 100%;
        height: 4rem;
        justify-content: flex-end;
        @include tabletBreakpoint {
            width: 60rem;
        }
    }
    &__headerBackLeft {
        background-color: $Teal;
        height: 100%;
        width: 50%;
        flex-grow: 1;
    }
    &__headerFrontLeft {
        height: 100%;
        width: 100%;
        background-color: $Egg;
        border-bottom-right-radius: 10px;
    }
    &__headerBackRight {
        width: 1rem;
        background-color: $Teal;
        border-top-right-radius: 10px;
    }
    &__headerFrontRight {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 10px;
        background-color: $Teal;
        @include tabletBreakpoint {
            background-color: $Egg;
        }
    }
    &__headerMain{
        height: 100%;
        width: 12rem;
        background-color: $Egg;
        @include tabletBreakpoint {
            width: 20rem;
        }
    }
    &__header {
        margin: 0;
        width: 100%;
        padding: 1rem;
        color: $Egg;
        background-color: $Teal;
        border-top-left-radius: 10px;
        font-size: 1.2rem;
        text-align: end;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include tabletBreakpoint {
            font-size: 2rem;
            padding: 1rem 3rem;
            justify-content: flex-end;
            border-top-right-radius: 10px;
        }
    }
    &__headerIcon {
        height: 2rem;
        padding-right: 1rem;
    }
    &__bodyContainer {
        background-color: $Teal;
        padding: 1rem 1rem;
        @include tabletBreakpoint {
            padding: 4rem 2rem;
        }
        @include desktopBreakpoint {
            display: flex;
            justify-content: center;
        }
    }
    &__bodyParagraph {
        color: $Egg;
        font-size: 1.05rem;
        line-height: 1.7;
        @include tabletBreakpoint {
            font-size: 1.75rem;
            margin: 0;
            padding: 1rem;
            line-height: 1.7;
        }
        @include desktopBreakpoint {
            width: 40rem;
        }
    }
    &__icon {
        width: 2rem;
        height: 2rem;
        margin: 1rem 0;
        @include tabletBreakpoint {
            width: 3rem;
            height: 3rem;
        }
    }
    &__emailIcon {
        height: 4rem;
        width: 4rem;
        margin: 0 1rem;
        @include tabletBreakpoint {
            height: 5rem;
            width: 5rem;
            margin: 0 5rem;
        }
        @include desktopBreakpoint {
            margin: 0 7rem;
        }
    }
    &__footer {
        display: flex;
        width: 100%;
        height: 4rem;
        background-color: $Yellow;
        justify-content: center;
        @include tabletBreakpoint {
            height: 5rem;
        }
    }
}