@use '../../partials/variables' as *;

.about {
    width: 100%;
    &__headerContainer {
        width: 100%;
        height: 4rem;
        display: flex;
    }
    &__headerBackLeft {
        width: 15rem;
        background-color: $Teal;
    }
    &__headerBackRight {
        width: 1rem;
        flex-grow: 1;
        background-color: $Egg;
    }
    &__headerFrontRight {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 10px;
        background-color: $Teal;
    }
    &__header {
        width: 100%;
        margin: 0;
        padding: 1rem;
        color: $Teal;
        background-color: $Egg;
        font-size: 1.7rem;
        border-top-right-radius: 10px;
    }
    &__bodyContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: $Egg;
        padding: 1rem 0;
    }
    &__body {
        color: $Teal;
        font-size: 1.35rem;
        padding: 1rem;
        margin: 0;
    }
}